<div class="navbar">
  <h2>Event Management System - Admin Dashboard</h2>
  <button routerLink="/logout" class="logout-btn">Logout</button>
</div>

<div class="container">

  <div class="card">
    <h3>📅 Event Category</h3>
    <button routerLink="/event_category">Open</button>
  </div>

  <div class="card">
    <h3>👥 Users List</h3>
    <button routerLink="/admin_user_list">Open</button>
  </div>

  <div class="card">
    <h3>🎤 Event Organizers</h3>
    <button routerLink="/admin_organizer_list">Open</button>
  </div>

  <div class="card">
    <h3>💬 Feedbacks</h3>
    <button routerLink="/feedbacklist">Open</button>
  </div>

  <div class="card">
    <h3>📖 Booking List</h3>
    <button routerLink="/get_all_booking">Open</button>
  </div>

</div>